/* * {
    margin: auto 0;
    padding: 0;
} */

button {
    padding: 6 18 6 18;
    background: #fdaa00;
    border: #ffaa00 1px solid;
    border-radius: 5px;
}

#save-btn {
    background: #af14df;
    border: #af14df 1px solid;
    color: blanchedalmond;
}